.container {
    margin: 0;
    padding-top: 4rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/jpg/forest.jpg'); /* 배경 이미지 위에 반투명 검은색 오버레이 추가 */
    background-size: 110%; /* 배경 이미지 크기 조정 (확대) */
    background-position: center; /* 배경 이미지 위치 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    color: white; /* 텍스트 색상을 흰색으로 변경 (배경과 대비되도록) */
    width: 100%;
    height: 100%;
    animation: panBackground 120s linear infinite; /* 패닝 애니메이션 적용 (지속 시간 변경) */
    overflow-y: auto;
  }

.title {

  font-size: 2rem; /* 제목 폰트 크기 */
  font-weight: bold; /* 제목 폰트 굵기 */
  text-align: center; /* 제목 가운데 정렬 */
  margin-top: 2rem; 
  margin-bottom: 2rem; 

}

.content {
  white-space: pre-line; /* 줄바꿈 및 공백 유지 */
  padding: 0 2rem 2rem; /* 내용 좌우 및 하단 패딩 */
  line-height: 1.6; /* 줄 간격 조정 */
}