.container {
  margin: 0;
  padding-top: 4rem;
  background-image: url('/jpg/forest.jpg');
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100%;
  animation: panBackground 120s linear infinite;
}

@keyframes panBackground {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

