.container {
  margin: 0;
  padding-top: 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/jpg/forest.jpg');
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100%;
  animation: panBackground 120s linear infinite;
  overflow-y: auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.inputField {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

.submitButton {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 318px;
}

.submitButton:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 1rem;
  color: white;
}

