.container {
  margin: 0;
  padding-top: 4rem;
  padding-inline: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/jpg/forest.jpg');
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100%;
  animation: panBackground 120s linear infinite;
  overflow-y: auto;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.message {
  font-size: 1.2em;
  color: #555;
  padding: 15px;
  border-radius: 5px;
  width: auto;
  box-sizing: border-box;
}

.message.success {
  background-color: #e6ffed;
  border: 1px solid #b7ebc9;
  color: #257942;
}

.message.error {
  background-color: #ffeeee;
  border: 1px solid #fcc2c3;
  color: #a82a2a;
}

.message.info {
  background-color: #eef6fc;
  border: 1px solid #c2dcf2;
  color: #2a67a8;
}

