.nav {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0px 0px 10px 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.menu li a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #fafafa;
}

.menu li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fafafa;
  font-size: 1.1rem;
}

