@import "tailwindcss";

@keyframes panBackground {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.animate-pan {
  animation: panBackground 120s linear infinite;
}

